.member-container{
    position: relative;
}

.admin-member{
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid var(--text-color);
    width: 600px;
    height: auto;
}

.member-image{
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.other-member{
    border-radius: 5px;
    border: 2px solid var(--text-color);
    height: 35px;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 640px){
    
.admin-member{
    width: 85vw;
}

.member-image{
    width: 150px;
    height: 150px;
    display: none;
}

.other-member{
    padding: 5px 10px;
}

}