.admin-panel{
    width: 700px;
    margin: 20px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.user-buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

@media screen and (max-width: 750px) {
    .admin-panel{
        width: 90vw;
        gap: 0px;
    }

    .user-buttons{
        flex-direction: column;
        width: 90vw;
        gap: 10px;
    }

    .user-button{
        width: 100%;
    }
}