.button-container{
    cursor: pointer;
    border-radius: 15px;
    border: 2px solid var(--text-color);
    background-color: var(--complementary-color);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: 0.3s;
    padding: 10px 0;
    border-radius: 15px;
}

.button-container:hover{
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

.button-container.active{
    background-color: var(--primary-color);
    color: var(--secondary-color);
}