.conformation-dialog__container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .4);
    backdrop-filter: blur(4px);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10001;
}
  
.conformation-dialog {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    position: relative;
    width: 500px; /* Adjust size as needed */
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    gap: 20px;
}

.conformation-dialog__cross{
    position: absolute;
    top: 5px;
    right: 18px;
    width: 50px;
    transition: 0.3s;
    cursor: pointer;
}

.conformation-dialog__cross:hover{
    background-color: var(--primary-color);
    border-radius: 50%;
}

.conformation-dialog__buttons{
    width: 100%;
    display: flex;
    gap: 10px;
    justify-content: space-around;
}

.conformation-dialog__button{
    width: 100px
}

@media screen and (max-width: 500px) {
    .conformation-dialog {
        width: 85%;
    }
}