.all-news{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 20px auto;
    gap: 30px;
    max-width: 1260px;
    min-height: calc(100vh - 500px);
}

.all-news__button{
    width: 1260px;
}

.one-news{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    max-width: 900px;
}

.one-news__sections{
    display: flex;
    flex-direction: column;
}

.news-section__picture{
    max-height: 300px;
    margin: 20px auto;
    max-width: 100%;
    object-fit: contain;
}

.news-section__header{
    color: var(--primary-color);
}

.news-banner__buttons{
    display: flex;
    gap: 10px;
    align-self: center;
}

.one-news__admin{
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.one-news__refresh{
    margin-top: 5px;
    height: 25px;
    width: 25px;
    padding: 5px;
    border: 2px solid var(--text-color);
    border-radius: 5px;
    transition: 0.3s;
    background-color: var(--secondary-color);
    cursor: pointer;
}

.one-news__refresh:hover{
    transition: 0.3s;
    background-color: var(--complementary-color);}

@media screen and (max-width: 1260px) {

.all-news__button{
    width: 830px;
}

}

@media screen and (max-width: 950px) {
    
.all-news{
    width: 90%;
}

.all-news__button{
    width: 400px;
}

.one-news{
    width: 85vw;
}

}

@media screen and (max-width: 500px) {
    
.all-news{
    width: 90%;
}

.all-news__button{
    width: 100%;
}

}