.pop-up__container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .4);
    backdrop-filter: blur(4px);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10001;
}
  
.pop-up {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    position: relative;
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    gap: 20px;
}

.pop-up__cross{
    position: absolute;
    top: 5px;
    right: 18px;
    width: 50px;
    transition: 0.3s;
    cursor: pointer;
}

.pop-up__cross:hover{
    background-color: var(--primary-color);
    border-radius: 50%;
}

@media screen and (max-width: 500px) {
    .pop-up {
        width: 85%;
    }
}