.links{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 20px auto;
    gap: 30px;
    max-width: 1340px;
    z-index: -1;
    min-height: calc(100vh - 500px);
}

.create-link{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 874px;
    margin: 20px auto;
    gap: 20px;
}

@media screen and (max-width: 900px) {
    
.links{
    gap: 15px;
}

.create-link{
    width: 95%;
}

}