.home-main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 30px;
    gap: 30px;
}

@media screen and (max-width: 850px) {

.home-main{
    margin: 30px 5%;
}

}