.all-members{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 20px auto;
    gap: 30px;
    max-width: 1300px;
    min-height: calc(100vh - 500px);
}

.main-members{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    flex-wrap: wrap;
}

.other-members{
    max-width: 1300px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    gap: 30px;
}

.other-members__column{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: calc(100%/3 - 40px);
}

.create-member{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 874px;
    margin: 20px auto;
    gap: 20px;
}

@media screen and (max-width: 1290px){
    
.other-members__column{
    width: auto;
}

}

@media screen and (max-width: 640px){
    
.all-members{
    width: 90vw;
}

.other-members{
    gap: 10px;
}

.other-member{
    padding: 5px 10px;
}

.other-members__column{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.create-member{
    width: 90%;
}

}